body
{
	margin: 0;
	background-color: #cc7a00;
	color: #302b2b;
    font-family: 'Lobster', sans-serif;
    font-size: 28px;
}

a:link    { color: #302b2b; text-decoration: none; }
a:visited { color: #4f4e4d; }
a:active  { color: #209781; }
a:hover   { color: #E9B64A; }

h1 {
	font-size: 64px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 5px;
	margin-top: 20px;
	margin-bottom: 0px;

}

p {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 25px;
	letter-spacing: 2px;
}


.board
{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.cardA 
{
	width: 125px;
	height: 125px;
	display: inline-block;
	margin: 3px;
	background-image: url("img/karta.png");
	border: 4px solid #E9B64A;
	border-radius: 4px;
	cursor: default;
	filter: brightness(100%);
	transition: all .4s ease-in-out;
}

.card 
{
	width: 125px;
	height: 125px;
	display: inline-block;
	margin: 3px;
	background-image: url("img/karta.png");
	border: 4px solid #302b2b;
	border-radius: 4px;
	cursor: pointer;
	filter: brightness(85%);
	transition: all .4s ease-in-out;
}

.card:hover
{
	border: 4px solid #E9B64A;
	filter: brightness(100%);
}

.score 
{
	margin-top: 5px;
	letter-spacing: 2px;

}


